*.class
myDB
scottyDB
.classpath
.project
.DS_Store

# Package Files #
#*.jar
*.war
*.ear
*.xml
*.properties
*.mf
*.log
DerbyTest.java
TestaDB.java
PDFCreator.java
Student.java
StudentDao.java
Student.java
.metadata
/bin

.classpath


#SILLY MACS!
.DS_Store


src/**/*.pdf

preview.pdf
